body {
    margin: 0;
    padding: 0;
    background-color: #f7dce3 !important;
    background-image: url('./assets/Animacionini.gif');
    background-size: cover;
    background-repeat: no-repeat;
}



/* HEADER */
.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #df9cad;
    /*dentro boton*/
    border: 3px solid #b75a71;
    /*borde afuera*/
    border-radius: 50px;
    width: 250px;
    height: 40px;
}

p {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.pargrid {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bitter', 'serif';
    font-size: 19px;
}

.lineaizqH {
    border-bottom: 3px solid #b75a71;
    width: 3%;
}

.lineaderH {
    border-bottom: 3px solid #b75a71;
    width: 200%;
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

/* HEADER */
/* CENTRO */
.titulo1 {
    font-family: 'Bitter', 'serif';
    font-size: 80px;
    display: flex;
    justify-content: center;

}

.titulo2 {
    margin: 10px 100px;
    font-family: 'Bitter', 'serif';
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* CENTRO */

/* CONTENDIO INFORMACION PERSONAL */
.imagen1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img1 {
    width: 200px;
    margin: 40px;
}

.parrafo1 {
    flex: 1;
    max-width: 50%;
    font-family: 'Bitter', 'serif';
    font-size: 18px;
}

.imagen2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img2 {
    width: 200px;
    margin: 40px;
    margin-left: 60px
}

.parrafo2 {

    flex: 1;
    max-width: 50%;
    font-family: 'Bitter', 'serif';
    font-size: 18px;

}

.boton1 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn-block {
    background-color: #df9cad !important;
    font-family: 'Bitter', 'serif' !important;
    font-size: 19px !important;
}

.btn-block:hover {
    background-color: #b75a71 !important;
    color: black !important;
}

.botonCV {
    display: flex;
    justify-content: center;
    align-items: center;

}

#menu {
    list-style: none;
    padding: 0 12px;
    margin: 0;
    background: #cc6b83;
    margin: 100px;
    display: inline-block;
    height: 50px;
    overflow: hidden;
    border-radius: 5px;

    box-shadow: 0px 4px #914156, 0px 4px 6px rgba(0, 0, 0, 0.3);
}

#menu li {
    margin-left: 10px;
    display: inline-block;
    position: relative;
    bottom: -11px;
}

#menu li:first-child {
    margin: 0
}

#menu li a {
    background: #db859a;
    display: block;
    border-radius: 3px;
    padding: 0 12px;
    color: rgb(0, 0, 0);
    position: relative;
    text-decoration: none;
    height: 27px;
    font-family: 'Bitter', 'serif';
    box-shadow: 0px 3px #7e3849, 0px 4px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

#menu li a:hover {
    background: #c5637b
}

#menu li a:active {
    background: #df9cad;

    bottom: -3px;
    box-shadow: 0px 0px #be647a, 0px 1px 3px rgba(0, 0, 0, 0.3);
}

/* CONTENDIO INFORMACION PERSONAL */

/*FOOTER*/
.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #df9cad;
    /*dentro boton*/
    border: 3px solid #b75a71;
    /*borde afuera*/
    border-radius: 50px;
    width: 250px;
    height: 40px;
}

.icono {
    margin: 5px;
    /*borde icono afuera*/
    width: 40px;
    height: 40px;
}

.lineaizqF {
    border-bottom: 3px solid #b75a71;
    width: 100%;
}

.lineaderF {
    border-bottom: 3px solid #b75a71;
    width: 3%;
}

.containerFooter {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

/*FOOTER*/