body {
    margin: 0;
    padding: 0;
    background-color: #f7dce3 !important;

}

/* HEADER */
.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #df9cad;
    /*dentro boton*/
    border: 3px solid #b75a71;
    /*borde afuera*/
    border-radius: 50px;
    width: 250px;
    height: 40px;
}

.pargrid {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bitter', 'serif';
    font-size: 15px;
}

.lineaizqH {
    border-bottom: 3px solid #b75a71;
    width: 3%;
}

.lineaderH {
    border-bottom: 3px solid #b75a71;
    width: 100%;
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

/* HEADER */
/* CENTRO */
.titulo1 {
    font-family: 'Bitter', 'serif';
    font-size: 80px;
    display: flex;
    justify-content: center;

}

.titulo2 {
    margin: 10px 100px;
    font-family: 'Bitter', 'serif';
    font-size: 15px;
    display: flex;
    justify-content: center;

}

/* CENTRO */

/* CONTENDIO INFORMACION PERSONAL */
.imagen1 {
    display: flex;
    align-items: center;
    justify-content: center;


}

.img1 {
    width: 200px;
    margin: 40px;
}

.parrafo1 {
    flex: 1;
    max-width: 50%;
    font-family: 'Bitter', 'serif';
    font-size: 15px;
}

.imagen2 {
    display: flex;
    align-items: center;
    justify-content: center;

}

.img2 {
    width: 200px;
    margin: 40px;
}

.parrafo2 {
    flex: 1;
    max-width: 50%;
    font-family: 'Bitter', 'serif';
    font-size: 15px;

}

.boton1 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn-block {
    background-color: #df9cad !important;
    font-family: 'Bitter', 'serif' !important;
    font-size: 19px !important;
}

.btn-block:hover {
    background-color: #b75a71 !important;
    color: black !important;
}


/* CONTENDIO INFORMACION PERSONAL */


/*FOOTER*/
.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #df9cad;
    /*dentro boton*/
    border: 3px solid #b75a71;
    /*borde afuera*/
    border-radius: 50px;
    width: 250px;
    height: 40px;
}

.icono {
    margin: 5px;
    /*borde icono afuera*/
    width: 40px;
    height: 40px;

}

.lineaizqF {
    border-bottom: 3px solid #b75a71;
    width: 100%;
}

.lineaderF {
    border-bottom: 3px solid #b75a71;
    width: 3%;
}

.container {
    margin-top: 10px;
    display: flex;
    align-items: center;
}