body {
    margin: 0;
    padding: 0;
    background-color: #f7dce3 !important;
    background-image: url('../assets/Animacionini.gif');
    background-size: cover;
    background-repeat: no-repeat;
}


/* HEADER */
.grid-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #df9cad;
    /*dentro boton*/
    border: 3px solid #b75a71;
    /*borde afuera*/
    border-radius: 50px;
    width: 250px;
    height: 40px;
}

.par-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bitter', 'serif';
    font-size: 19px;
    text-decoration: none;
    background-color: #df9cad !important;
    color: black !important;
    border-radius: 20px;
    height: 100%;
    width: 100%;
}

.grid-header {
    transition: background-color 0.3s, color 0.3s;
}

.par-grid:hover {
    background-color: #b75a71 !important;
    color: black !important;
}


.linea-izqH {
    border-bottom: 3px solid #b75a71;
    width: 3%;
}

.linea-derH {
    border-bottom: 3px solid #b75a71;
    width: 100%;
}

.container-boton {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

/* HEADER */

/* INFORMACION PRINCIPAL  */
/* Carrusel */
.carousel-item.active {
    display: flex !important;
    justify-content: center;
}

.carousel-item img {
    height: 100% !important;
    width: 100% !important;
    object-fit: cover !important;
}

.container-carusel {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    align-items: center;
    background-color: rgb(245 188 203 / 63%);
}

.texto-info {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    font-family: 'Bitter', 'serif';
    font-size: 25px;
    text-align: center;
}

.col-md-6 {
    display: flex;
    justify-content: center;
}
p{
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}
@media screen and(max-width:1454px) {
    .container-carusel{
        flex-direction: column;
        align-items: flex-start;
    }
    .carousel, .col-md-6{
        max-width: 100%;

    }
}
/* INFORMACION PRINCIPAL */

/*CARDS */

.cardContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    flex: 0 0 calc(25% - 20px);
    margin: 0 15px 25px;
}

.card-img-top {
    height: 250px !important;
    width: auto !important;
}

/* CARDS */
/* Skills */
.container-skills{
    display:flex;
    justify-content: center;
}
.cardTitulo {
    margin: 20px 100px;
    font-family: 'Bitter', 'serif';
    display: flex;
    justify-content: center;

}

.skillTec {
    display: flex;
    justify-content: center;
}

.barra-progress {
    display: flex;
    justify-content: center;
}

.containerSkill {
    width: 100%;
    text-align: center;
    margin: 20px auto;
}

.progress2 {
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar2 {
    height: 18px;
    border-radius: 30px;
    background-image:
        linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    transition: 0.4s linear;
    transition-property: width, background-color;
}

.progress-moved .progress-bar2 {
    width: 85%;
    background-color: #EF476F;
    animation: progressAnimation 6s;
}

.progress2 {
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar2 {
    height: 18px;
    border-radius: 30px;
    background-image:
        linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    transition: 0.4s linear;
    transition-property: width, background-color;
}

.progress-moved-html .progress-bar2 {
    width: 85%;
    background-color: #EF476F;
    animation: progressAnimation 6s;
}

@keyframes progressAnimation {
    0% {
        width: 5%;
        background-color: #F9BCCA;
    }

    100% {
        width: 85%;
        background-color: #EF476F;
    }
}

.progress-moved-css .progress-bar2 {
    width: 85%;
    background-color: #EF476F;
    animation: progressAnimation-css 6s;
}

@keyframes progressAnimation-css {
    0% {
        width: 5%;
        background-color: #F9BCCA;
    }

    100% {
        width: 85%;
        background-color: #EF476F;
    }
}

.progress-moved-js .progress-bar2 {
    width: 70%;
    background-color: #EF476F;
    animation: progressAnimation-js 6s;
}

@keyframes progressAnimation-js {
    0% {
        width: 5%;
        background-color: #F9BCCA;
    }

    100% {
        width: 70%;
        background-color: #EF476F;
    }
}

.progress-moved-b .progress-bar2 {
    width: 85%;
    background-color: #EF476F;
    animation: progressAnimation 6s;
}

@keyframes progressAnimation-b {
    0% {
        width: 5%;
        background-color: #F9BCCA;
    }

    100% {
        width: 85%;
        background-color: #EF476F;
    }
}

.progress-moved-angular .progress-bar2 {
    width: 55%;
    background-color: #EF476F;
    animation: progressAnimation-angular 6s;
}

@keyframes progressAnimation-angular {
    0% {
        width: 5%;
        background-color: #F9BCCA;
    }

    100% {
        width: 55%;
        background-color: #EF476F;
    }
}

.progress-moved-java .progress-bar2 {
    width: 70%;
    background-color: #EF476F;
    animation: progressAnimation 6s;
}

@keyframes progressAnimation-java {
    0% {
        width: 5%;
        background-color: #F9BCCA;
    }

    100% {
        width: 70%;
        background-color: #EF476F;
    }
}

.progress-moved-mys .progress-bar2 {
    width: 50%;
    background-color: #EF476F;
    animation: progressAnimation-mys 6s;
}

@keyframes progressAnimation-mys {
    0% {
        width: 5%;
        background-color: #F9BCCA;
    }

    100% {
        width: 50%;
        background-color: #EF476F;
    }
}

/* Skills */
/*FOOTER*/
.grid-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #df9cad;
    /*dentro boton*/
    border: 3px solid #b75a71;
    /*borde afuera*/
    border-radius: 50px;
    width: 250px;
    height: 40px;
}

.icono {
    margin: 5px;
    /*borde icono afuera*/
    width: 40px;
    height: 40px;

}

.lineaizqF {
    border-bottom: 3px solid #b75a71;
    width: 100%;
}

.lineaderF {
    border-bottom: 3px solid #b75a71;
    width: 3%;
}

.container-footer{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
/*FOOTER*/