body {
    margin: 0;
    padding: 0;
    background-color: #f7dce3 !important;
}

/* HEADER */
.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #df9cad;
    /*dentro boton*/
    border: 3px solid #b75a71;
    /*borde afuera*/
    border-radius: 50px;
    width: 250px;
    height: 40px;
}

.pargrid {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bitter', 'serif';
    font-size: 19px;
    text-decoration: none;
    background-color: #df9cad !important;
    color: black !important;
    border-radius: 20px;
    height: 100%;
    width: 100%;
}

.grid {
    transition: background-color 0.3s, color 0.3s;
}

.pargrid:hover {
    background-color: #b75a71 !important;
    color: black !important;
}


.lineaizqH {
    border-bottom: 3px solid #b75a71;
    width: 3%;
}

.lineaderH {
    border-bottom: 3px solid #b75a71;
    width: 100%;
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

/* HEADER */

/* INFORMACION PRINCIPAL  */
/* Carrusel */
.carousel-item.active {
    display: flex !important;
    justify-content: center;
}

.carousel-item img {
    height: 100% !important;
    width: 100% !important;
    object-fit: cover !important;
}

.containercarusel {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    background-color: hsl(317, 46%, 84%);
}

.textoinfo {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    font-family: 'Bitter', 'serif';
    font-size: 15px;
}

.col-md-6 {
    display: inline-grid;
}

/* INFORMACION PRINCIPAL */

/*CARDS */

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    flex: 0 0 calc(25% - 20px);
    margin: 0 15px 25px;
}

.card-img-top {
    height: 250px !important;
    width: auto !important;
}

/* CARDS */
/*FOOTER*/
.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #df9cad;
    /*dentro boton*/
    border: 3px solid #b75a71;
    /*borde afuera*/
    border-radius: 50px;
    width: 250px;
    height: 40px;
}

.icono {
    margin: 5px;
    /*borde icono afuera*/
    width: 40px;
    height: 40px;

}

.lineaizqF {
    border-bottom: 3px solid #b75a71;
    width: 100%;
}

.lineaderF {
    border-bottom: 3px solid #b75a71;
    width: 3%;
}

.container {
    margin-top: 10px;
    display: flex;
    align-items: center;
}
/*FOOTER*/